@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.but {
  cursor: pointer;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.title__page {
  font-size: 2rem;
}

.shop__grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.product__card {
  width: 50%;
  border-radius: 20px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.checkout-container {
  height: 60vh;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout-block {
  height: 100%;
  width: 300px;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.product-part {
  height: 80%;
  padding: 10px;
}

.button-part {
  height: 20%;
  padding: 10px;
}

.cart {
  cursor: pointer;
}

.products-checkout {
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
  background-color: whitesmoke;
  border-radius: 10px;
}

/* Partie Netflix */

.header-inscri {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
}

.main-inscription {
  height: 100vh;
  width: 100vw;
  background-image: url("../public/background-inscription-connexion.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  .filter {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.658);
    height: 100%;
    width: 100%;
  }

  &.password-inscription {
    background: none;
    background-color: white;
  }

  .header--inscription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .block--main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &.login-flex {
      align-items: flex-end;
    }
    h2 {
      font-size: 36px;
    }
    h3 {
      font-size: 25px;
    }
    h4 {
      font-size: 20px;
    }
    div {
      height: 70%;
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 5px;
      color: white;
      &.login {
        height: 95%;
        width: 60%;
        max-width: 490px;
        background-color: rgba(0, 0, 0, 0.767);
        padding-left: 80px;
        padding-right: 80px;
        h2 {
          display: flex;
          align-items: center;
          text-align: left;
          width: 100%;
        }
      }
      &.choice {
        height: 90%;
        .choice--details-block {
          height: 20%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: black;
          font-size: 30px;
        }
        .choice--options-block {
          height: 50%;
          display: flex;
          flex-direction: row;
          width: 100%;
          .choice--options-details {
            width: 40%;
            height: 100%;
          }
          .choice-options-el {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            .square-type {
              height: 120px;
              width: 120px;
              margin: 15px;
              margin-bottom: 0px;
              background-color: rgba(255, 0, 0, 0.445);
              display: flex;
              justify-content: center;
              align-items: center;
              color: white;
              &.selected {
                background-color: rgb(255, 0, 0);
              }
            }
            .line-details {
              height: 25%;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              color: rgba(0, 0, 0, 0.315);
              &.border {
                border-bottom: 3px solid rgb(235, 235, 235);
              }
              &.selected {
                color: black;
              }
            }
          }
        }
        .choice--explenations-block {
          height: 20%;
          width: 100%;
          display: block;
          justify-content: center;
          align-items: center;
          div {
            padding-top: 20px;
            height: 100%;
            width: 100%;
            color: black;
          }
        }

        .choice--button-block {
          height: 10%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      h2 {
        height: 25%;
      }
      h3 {
        height: 25%;
      }
      h4 {
        height: 25%;
        &.password--label {
          height: 30%;
          color: black;
          font-size: 30px;
        }
      }
      form {
        height: 25%;
        width: 95%;
        display: flex;
        &.form-login--flex {
          flex-direction: column;
          align-items: center;
          width: 100%;
          height: 50%;
          justify-content: space-around;
          input {
            width: 100%;
            height: 50px;
            background-color: rgb(75, 75, 75);
            border: none;
            border-radius: 5px;
            padding-left: 15px;
            color: white;
            &::placeholder {
              color: white;
            }
          }
          button {
            width: 100%;
            height: 50px;
            border-radius: 5px;
            background-color: red;
            color: white;
            border: none;
          }
        }
        &.form-password {
          flex-direction: column;
          align-items: center;
          height: 50%;
          input {
            height: 33.3%;
            margin: 20px;
            border-radius: 5px;
            border: 1px solid black;
          }
          button {
            height: 60px;
            margin-top: 20px;
          }
        }
        input {
          width: 70%;
          height: 50px;
        }
        button {
          width: 30%;
          height: 50px;
          background-color: red;
          color: white;
          border: none;
        }
      }
    }
  }
}

.ElementsApp input {
  color: black !important;
}

.loader {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.808);
  z-index: 60;
  .spin-load {
    width: 20%;
  }
}

.header--layout {
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 45px;
  padding-right: 45px;
  height: 68px;
  color: white;
  font-size: 1rem;
  background-color: black;
  z-index: 50;
  .div-left-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5px;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 20px;
      margin-left: 40px;
    }
  }
  .div-right-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5px;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 20px;
    }
    .img {
      height: 35px;
      width: 35px;
      border-radius: 5px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;
    }
    .search {
      height: 25px;
      width: 25px;
      cursor: pointer;
    }
    .search-w-input {
      min-height: 30px;
      min-width: 160px;
      input {
        color: white;
        background-color: black;
        border: 1px solid white;
        padding-left: 3px;
        padding-right: 0px;
        width: 100%;
      }
      input:focus-visible {
        outline: none;
      }
    }
  }
}

.main-home {
  background-color: black;
  .main--homepage-net {
    height: 95vh;
    background-image: url("https://occ-0-1722-1723.1.nflxso.net/dnm/api/v6/E8vDc_W8CLv7-yMQu8KMEC7Rrr8/AAAABZMIdhnrqhuj2GAhdtkDsIT4LCRPGXNSFa7iAcMJBfv5PkiCoJNojDKQgszJ2VCJXgq4Nogv1AQnbc-4fKknuhnxQRDj.jpg?r=d96");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .button-home {
      position: absolute;
      bottom: 280px;
      left: 60px;
      width: 128px;
      height: 37px;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
      &.compte {
        position: static;
        margin: 10px;
      }
    }
    .img-bck {
      width: 100%;
    }
    .img-bck-title {
      position: absolute;
      top: 150px;
      left: 60px;
      width: 600px;
    }
    &.list {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      height: 100vh;
      background: black;
    }
    &.compte {
      color: white;
      height: 100vh;
      padding-top: 100px;
      background: black;
      display: flex;
      flex-direction: column;
      .contains-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20%;
      }
      .admin {
        height: 80%;
        form {
          display: flex;
          flex-direction: column;
          h1 {
            font-size: 25px;
            margin: 35px;
            font-weight: bold;
            color: rgb(238, 0, 0);
          }
          input {
            margin: 15px;
          }
          select {
            margin: 15px;
          }
          button {
            margin: 15px;
            background-color: red;
            color: white;
            border: none;
            border-radius: 5px;
            height: 25px;
            font-weight: bold;
          }
        }
      }
    }
  }

  .slick-contains {
    min-height: 323px;
    width: 80%;
    margin: auto;
    padding-top: 80px;
    overflow: hidden;
    &.list {
      overflow-x: visible;
      display: flex;
      flex-wrap: wrap;
      padding-top: 0px;
    }
    .slick-els {
      min-height: 152px;
      border-radius: 10px;
      position: relative;
      transition: all 1s;
      width: 223px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      margin: auto;
      z-index: 5;
      &.list {
        margin: 10px;
      }
      .like-watch--contains {
        position: absolute;
        bottom: 0;
        left: 5px;
        height: 60px;
        width: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .back-cta-netflix {
          padding: 10px;
          background-color: white;
          border-radius: 50%;
          cursor: pointer;
        }
      }
      .movie-pic {
        position: absolute;
        height: 100%;
      }
      &.hovering-vid {
        transform: scale(1.5) !important;
      }
    }
  }
}

.logo-net {
  cursor: pointer;
}

.list-title {
  margin-top: 80px;
  color: white;
  padding-left: 50px;
  font-size: 25px;
  font-weight: bold;
}

.input-renew {
  margin: 15px;
  border: 1px solid rgb(102, 102, 102);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 45px;
  border-radius: 5px;
  width: 250;
}

.link-renew {
  color: white;
  cursor: pointer;
  margin-top: 10px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: red;
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
}

.slick-list {
  overflow: visible !important;
}

.container-slide-films {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 80px;
  .arrow-left--slide {
    width: 10%;
    height: 178px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.9391106784510679) 89%
    );
  }
  .arrow-right--slide {
    width: 10%;
    height: 178px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.9391106784510679) 89%
    );
  }
}

.modal-youtube {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 51;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  .close-modal {
    position: fixed !important;
    right: 45px !important;
    top: 0px !important;
    width: 35px;
    cursor: pointer;
  }
}

.video-responsive {
  overflow: hidden;
  position: relative;
  width: 90vw;
  height: 500px;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.button-inscri-link {
  background-color: red;
  border-radius: 5px;
  color: white;
  padding: 10px;
  font-weight: 500;
  cursor: pointer;
  &.dir {
    border: none;
  }
}

.option-contains {
  text-align: end;
  color: white;
  padding-right: 15px;
  .options {
    border: 1px solid rgb(48, 48, 48);
    border-radius: 5px;
    margin-bottom: 5px;
    background: none;
    color: white;
    font-size: 15px;
    option {
      color: black;
    }
  }
}

.not-allowed-div {
  margin-top: 100px;
  color: white;
  font-size: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* animations */

.scale-in-right {
  -webkit-animation: scale-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.rotate-in-center {
  -webkit-animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    infinite both;
  animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite
    both;
}

@-webkit-keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

@-webkit-keyframes scale-in-right {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 1;
  }
}
@keyframes scale-in-right {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 1;
  }
}
